#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#wrapper_webcam {
	margin: 0 auto;
	width: 340px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: solid;
}

#video {
	border: solid red;
}

#photo {
	border: solid green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.welcome {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: right;
	background-color: #4CAF50;
}

#video, .output {
	transform: scaleX(-1);
}

#canvas {
	display: none;
}
