.cart_total {
	clear: both;
	text-align: right;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

.img_product {
	width: 200px;
}

.product {
	float: left;
	margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.welcome {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: right;
	background-color: #4CAF50;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: right;
}
