#wrapper, #wrapper_webcam, #main, #side {
	margin: 10px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	display: flex;
}

.img_side {
	width: 320px;
}

#wrapper_webcam {
	/*margin: 0 auto;*/
	width: 340px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: solid;
}

#main {
	border: solid black;
	width: 800px;
}

#side {
	border: solid black;
	width: 500px;
	height: 885px;
}

#video {
	border: solid red;
}

#photo {
	border: solid green;
}

ul {
	list-style-type: none;
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header .welcome {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: right;
	background-color: #4CAF50;
}

#video {
	transform: scaleX(-1);
}

#canvas {
	display: none;
}
